.footer {
  background-color: rgb(39, 39, 39);
  color: white;
  font-size: 0.8rem;
  display: absolute;
  width: 100;
  bottom: 0px;
  height: 150px;
  margin-top: 50px;
}

.container {
  width: 80%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.container a {
  color: rgb(213, 254, 255);
}
